# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* Simple arithemtic expressions
* Expression to convert 200min to hours
* Table of Data Science tools
* Languages for Data Science
* Libraries for Data Science

Some of the popular languages that Data Scientists use are:
1. Pyhton.
2. R.
3. SQL.

Some of the commonly used libraries used by Data Scientists include:

* Pandas.
* Scikit-learn.
* Matpoltlib.

| Data Science Tools |
|--------------------|
| MySQL |
| RStudio |
| SaaS |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Hashim Alattas